/*充值*/
.cz-ul,
.cz-ul input,
.zfpaynav li,
#AppForm,
.viptx-btn,
#txbtn,
.debits,
.withdrawals,
#txprice{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}	
#Vip_cztab {
	background: transparent;
}		
#Vip_cz header {
	background: #f16213;
}		
#Vip_cz header a,
#Vip_cz header h1 {
	color: #fff;
}		
.cz-ul {
	width: 100%;
	background: #fff;
}		
.cz-ul p {
	margin-bottom: 10px;
	line-height: 35px;
	border-bottom: 1px solid #f7f7f7;
}		
.cz-ul {
	padding: 0 10px;
}		
.cz-ul input {
	padding: 0 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	background: #f7f7f7;
}		
#surebtn {
	margin: 15px 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #33b13e;
}		
#Vip_czway {
	margin: 10px auto;
	display: inline-block;
}
.cz-ul #money,
#surebtn,
#txbtn,
#savebtn{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}		
#surebtn:hover {
	background: #33b13e;
}
.zfpaynav li {
	padding-left: 15px;
	height: 40px;
	line-height: 40px;
	width: 100%;
	font-size: 16px;
}
.zfpaynav li em {
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #c5c3c3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.zfpaynav li em.active {
	background: #fe9002;
	border-color: #fff;
}		
#Vip_cz .zfpaynav .icon {
	margin-right: 0;
	width: auto;
	height: auto;
	font-size: 30px;
}		
#Vip_cz .zfpaynav .icon-weixin {
	color: #09bf15;
}		
#Vip_cz .zfpaynav .icon-zhifubao {
	color: #1caceb;
}		
.zfpaynav li input {
	display: inline;
	width: auto;
}

.viptx-btn {
	background: #ccc;
	color: #FFF;
	line-height: 20px;
	padding: 6px 13px;
	border-radius: 3px;
	margin: 3px;
	text-align: center;
	font-size: 14px;
}			
.wx-btn {
	background: red;
}
			
/*20161214*/
/*#formvip,
#vipblind{
	bottom: 0;
}*/
#AppForm{
	padding: 0 5px 5px;
	background: #fefdfd;
}
#AppForm p{
	border-bottom: 1px solid #f7f7f7;
}
#AppForm p span,
#txnav li span,
#AppForm ul.add-uls li span{
	display: inline-block;
	width: 40%;
	font-size: 16px;
}
.tl{
	text-align: left;
}
.viptx-btn{
	padding: 0;
	margin: 0;
	background: transparent;
	color: #f7194d;
	font-size: 16px;
}
#txnav li{
	padding: 0;
	height: 40px;
	line-height: 40px;
}
#AppForm .add-uls li{
	padding: 0;
	height: 45px;
	line-height: 45px;
}
#txnav li input#txprice,
#txnav li input#txname,
#txnav li input#txmobile,
#txnav li input#txyh,
#txnav li input#txfh,
#txnav li input#txszd,
#txnav li input#txcard,
#AppForm .add-uls li input#mobile,
#AppForm .add-uls li input#name,
#AppForm .add-uls li input#email,
#AppForm .add-uls li input#wxhao,
#AppForm .add-uls li input#alipay,
#AppForm .add-uls li input#txname,
#AppForm .add-uls li input#txmobile,
#AppForm .add-uls li input#txyh,
#AppForm .add-uls li input#txfh,
#AppForm .add-uls li input#txszd,
#AppForm .add-uls li input#txcard{
	width: 55%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
}
#savebtn{
	margin: 15px 1%;
	width: 98%;
	background: #f05213;
}
#AppForm .add-uls li input#mobile,
#AppForm .add-uls li input#name,
#AppForm .add-uls li input#email,
#AppForm .add-uls li input#wxhao,
#AppForm .add-uls li input#alipay,
#AppForm .add-uls li input#txname,
#AppForm .add-uls li input#txmobile,
#AppForm .add-uls li input#txyh,
#AppForm .add-uls li input#txfh,
#AppForm .add-uls li input#txszd,
#AppForm .add-uls li input#txcard{
	width: 57.5%;
	border: 1px solid #eee;
	font-size: 14px;
}
.tipsnav{
	margin: 10px auto;
	padding: 5px 10px;
	border: 1px dashed #dfdede;
	line-height: 20px;
	font-size: 12px;
}
.tipsnav .add-tips{
	padding: 0;
}
#savebtn{
	margin-top: 5px;
	padding: 10px 0;
}
.debits{
	line-height: 50px;
	font-size: 18px;
}
.debits,
.withdrawals{
	padding: 0 2%;
	width: 100%;
	background: #fff;
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #d7d7d7;
}
.withdrawals{
	margin: 10px auto;
	line-height: 35px;
}
.withdrawals h2{
	font-size: 16px;
	font-weight: normal;
	border-bottom: 1px solid #eee;
}

#cash span{
	display: inline-block;
	width: 30%;
}
#txprice{
	padding: 0 10px;
	width: 70%;
	height: 35px;
	line-height: 35px;
	border: 1px solid #dddcdc;
}
#cash{
	padding-bottom: 10px;
}
#cash p{
	line-height: 20px;
}
#txbtn{
	margin: 15px 2%;
	display: block;
	width: 96%;
	background: #f05213;
}

