.aui_close,.aui_close:hover,.dialog-btn-a:hover,.dialog-btn-d:hover,a,a:hover{text-decoration:none}
.aui_inner,.f-fl{float:left}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,iframe,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body{font-family:tahoma,\5b8b\4f53,arial;line-height:1.5;font-size:12px;height:100%}
button,input,select,textarea{font:100% tahoma,\5b8b\4f53,arial}
h1,h2,h3,h4,h5,h6{font-size:100%}
fieldset,img{border:0}
img{vertical-align:top}
address,caption,cite,dfn,em,th,var{font-style:normal;font-weight:400}
ol,ul{list-style:none}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
button,input,select{vertical-align:baseline}
input[type=checkbox],input[type=radio]{vertical-align:middle}
textarea{overflow:auto}
.aui_title,.dialog-btn{font-family:\5fae\8f6f\96c5\9ed1}
table{border-collapse:collapse;border-spacing:0}
article,aside,audio,details,figcaption,figure,footer,header,mark,menu,nav,section,summary,time,video{display:block;margin:0;padding:0}
audio,canvas,video{display:inline-block}
mark,time{display:inline}
mark{background-color:#ff0;color:#000}
audio:not([controls]){display:none;height:0}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
table.aui_border,table.aui_dialog{border:0;margin:0;border-collapse:collapse;width:auto}
.aui_titleBar{position:relative}
.aui_title{overflow:hidden;text-overflow:ellipsis;height:33px;line-height:34px;padding:0 28px 0 15px;font-weight:700;background-color:#ECECEC;font-size:14px;color:#464646;border-top:2px solid #FF8C3F}
.badge,.nav-tab{font-weight:400}
.aui_close{display:block;position:absolute;outline:0;top:9px;right:7px;width:20px;height:21px;line-height:20px;font-size:14px;color:#68767b;text-align:center}
.aui_close:hover{background:#C72015;color:#FFF}
.aui_loading{width:96px;height:32px;margin:0 auto;text-align:left;font-size:0;overflow:hidden}
.input,.select{outline:0}
.aui_inner{background-color:#FFF}
.dialog-btn{display:inline-block;padding:5px 15px;margin-top:10px;text-shadow:1px 1px 0 rgba(0,0,0,.1);overflow:visible;background-color:#f60;border:none;border-radius:2px;cursor:pointer;color:#fff;text-align:center}
.dialog-btn:hover{background-color:#FC7D29;color:#FFF}
.dialog-btn-a,.dialog-btn-d{font-size:14px;display:inline-block;padding:2px 12px;border-radius:2px;text-align:center}
.dialog-btn-a{color:#fff;background-color:#FF5001;border:1px solid #ED4800;cursor:pointer}
.dialog-btn-d{color:#333;background-color:#F5F5F5;border:1px solid #CCC;cursor:default}
.dialog-btn-a:hover{color:#fff;background-color:#F8631F}
.dialog-btn-d:hover{color:#333}
body{background-color:#FEFEFE;overflow-x:hidden}
.g-doc{margin:0 auto;width:1200px}
a:hover{-webkit-transition:color .25s ease;-moz-transition:color .25s ease;transition:color .25s ease}
.input{line-height:35px;border:1px solid #E5E5E5;width:240px;padding:0 5px}
.input.noborder{border:1px solid #FFF;padding-left:0;color:#333}
.select{border:1px solid #E5E5E5;width:252px;padding:8px 0;color:#A9A9A9}
.hide{display:none}
@font-face{font-family:iconfont;src:url(//at.alicdn.com/t/font_1447486688_9935887.eot);src:url(//at.alicdn.com/t/font_1447486688_9935887.eot?#iefix) format('embedded-opentype'),url(//at.alicdn.com/t/font_1447486688_9935887.woff) format('woff'),url(//at.alicdn.com/t/font_1447486688_9935887.ttf) format('truetype'),url(//at.alicdn.com/t/font_1447486688_9935887.svg#iconfont) format('svg')}
.iconfont{font-family:iconfont;font-size:14px;font-style:normal}
.col-con dd,.col-con dt,.m-ftbottom p,.m-fttop .footer-left .friend-link li a,.m-fttop .footer-right,.m-nav li a,.m-tb,.short-btn{font-family:\5fae\8f6f\96c5\9ed1}
.f-fr{float:right}
.badge{border-radius:9px;color:#FFF;height:18px;overflow:hidden;line-height:18px;font-size:12px;margin-top:3px;margin-right:5px;padding:0 5px;width:auto}
ul.m-bar{position:fixed;bottom:350px;right:10px;width:40px;z-index:9999}
ul.m-bar li{margin:5px 0;position:relative}
ul.m-bar li .click-box{width:40px;height:40px;display:block;background-color:#EEE;color:#999;text-align:center;line-height:40px;cursor:pointer}
ul.m-bar li .click-box:hover{background-color:#F26213}
ul.m-bar li .click-box:hover .bar-ico{color:#fff}
ul.m-bar li .click-box .bar-ico{font-size:24px}
ul.m-bar li .bar-arrow{background:url(../img/kefu.png?v=aIoMtGqfvz2VdDH9vhfQGQ%3D%3D) -161px 4px no-repeat;width:20px;height:60px;position:absolute;right:36px;top:-4px;z-index:999;display:none}
ul.m-bar li .fly-box{position:absolute;right:55px;background-color:#fff;z-index:99;width:156px;top:-30px;border:1px solid #DAD9D9;white-space:nowrap;line-height:20px;text-align:left;box-shadow:0 1px 3px rgba(0,0,0,.2)}
.m-ftbottom,.m-fttop .footer-right,.page-box,.table,.u-sheeper .u-tipbox dl{text-align:center}
ul.m-bar li .fly-box .kefu-box{padding:5px 7px}
ul.m-bar li .fly-box .kefu-box i{color:#4E90D4;font-size:15px;margin-right:5px}
ul.m-bar li .fly-box .kefu-box i.tengxun{font-size:17px;vertical-align:top;margin-top:3px;display:inline-block}
ul.m-bar li .fly-box .tel{font-size:14px;color:#666;padding-left:15px;border-bottom:1px solid #F5F5F5;padding-bottom:5px;margin-left:10px}
ul.m-bar li .fly-box dl dd{margin-top:5px;padding:0 10px;background-color:#F5F5F5}
ul.m-bar li .fly-box dl dd a{display:block;height:45px;line-height:45px;color:#666;font-size:12px}
ul.m-bar li .fly-box dl dd a em{display:inline-block;width:35px;height:35px;background:url(../img/kefu.png?v=aIoMtGqfvz2VdDH9vhfQGQ%3D%3D) no-repeat;vertical-align:top;margin-top:6px;margin-right:5px}
ul.m-bar li .fly-box dl dd a em.kefu01{background-position:0 0}
ul.m-bar li .fly-box dl dd a em.kefu02{background-position:-49px 0}
ul.m-bar li .fly-box dl dd a em.kefu03{background-position:-101px 0}
ul.m-bar li .fly-box .down-qr{width:150px;height:150px;display:inline-block}
.short-btn{width:80px;background-color:#E86527;font-size:16px;color:#FFF;border:none;height:35px;cursor:pointer;border-radius: 3px;}
.m-tb,.m-tb a{color:#949494}
.g-tb{background-color:#423F3D}
.m-tb{height:32px;line-height:32px;font-size:14px}
.m-tb a:hover{color:#e86527}
.m-tb .top-left{float:left}
.m-tb .top-left em{margin:0 7px}
.m-tb .top-right{float:right}
.m-tb .top-right li{float:left;margin-left:30px}
.m-tb .top-right li a{display:block}
.m-tb .wx-box{position:relative}
.m-tb .wx-box em{transition:transform .2s;display:inline-block;margin-left:2px;font-size:12px}
.m-tb .wx-box:hover em{-webkit-transform:rotate(-180deg);-moz-transform:rotate(-180deg);transform:rotate(-180deg)}
.m-tb .wx-box:hover .qr-code{display:block}
.m-tb .qr-code{position:absolute;left:0;top:38px;padding:5px;border:1px solid #DEDEDE;background-color:#F4F3F4;z-index:99999;margin-left:-32px;display:none}
.m-tb .qr-code span{z-index:2;position:absolute;width:112px;height:6px;top:-7px;left:0}
.m-tb .qr-code span b,.m-tb .qr-code span i{width:0;height:0;line-height:0;overflow:hidden;display:inline-block;border-style:dashed dashed solid;border-width:0 6px 6px;position:absolute}
.m-tb .qr-code span i{border-color:transparent transparent #DEDEDE;top:0;left:50%;margin-left:-15px}
.m-tb .qr-code span b{border-color:transparent transparent #F4F3F4;top:1px;left:50%;margin-left:-15px}
.m-tb .qr-code img{width:100px;height:100px}
.g-hd{background-color:#FEFEFE;border-bottom:1px solid #DEDEDE}
.m-hd{height:82px}
.m-hd h1{float:left}
.m-hd h1 img{width:315px;height:53px;margin-top:14px}
.m-nav{float:right;margin-top:28px}
.col-con,.m-fttop .footer-left,.m-nav li{float:left}
.m-nav li{margin-left:45px}
.m-nav li a{color:#666;font-size:18px}
.m-nav li a:hover,.m-nav li.cur a{color:#f26214}
.m-nav li.cur{border-bottom:3px solid #f26214;padding:0 10px 25px}
.u-sheeper{position:relative;z-index:999}
.u-sheeper:hover .u-tipbox{display:block}
.u-sheeper .u-tipbox{border:1px solid #DEDEDE;width:110px;background-color:#F4F3F4;position:absolute;top:30px;left:50%;margin-left:-48px;display:none;padding:5px 0 10px;border-radius:2px}
.u-sheeper .u-tipbox span{z-index:2;position:absolute;width:112px;height:6px;top:-7px;left:0}
.u-sheeper .u-tipbox span b,.u-sheeper .u-tipbox span i{width:0;height:0;line-height:0;overflow:hidden;display:inline-block;border-style:dashed dashed solid;border-width:0 6px 6px;position:absolute}
.u-sheeper .u-tipbox span i{border-color:transparent transparent #DEDEDE;top:0;left:50%;margin-left:-15px}
.u-sheeper .u-tipbox span b{border-color:transparent transparent #F4F3F4;top:1px;left:50%;margin-left:-15px}
.u-sheeper .u-tipbox dl dd{padding:10px 0}
.u-sheeper .u-tipbox dl dd a{color:#666;font-size:14px}
.u-sheeper .u-tipbox dl dd a:hover{color:#f26214}
.col-con{width:188px;background:#F5F5F5;margin-left:-100%;border:1px solid #E6E6E6;padding:10px 0 20px}
.col-con dd,.col-con dt{height:33px;line-height:33px}
.col-con dt{font-size:16px;color:#555}
.col-con dt.line{border-top:1px solid #DFDFDF;margin-top:10px;padding-top:10px}
.col-con dt a{color:#777;display:block;padding-left:20px}
.col-con dt.cur a,.col-con dt:hover a{color:#F26214}
.col-con dd{position:relative}
.col-con dd a{font-size:14px;display:block;color:#777;padding-left:10px}
.col-con dd a em{display:inline-block;width:20px;height:20px;margin-left:19px;margin-right:10px;background:url(../img/nav_sprite.png?v2=yxbCM80sIjoSUyJli%2BxSzw%3D%3D) no-repeat;margin-top:3px;vertical-align:middle}
.col-con dd a em.nav-ico13{background-position:0 -372px}
.col-con dd.cur a em.nav-ico13,.col-con dd:hover a em.nav-ico13{background-position:-28px -372px}
.col-con dd a em.nav-ico12{background-position:0 -285px}
.col-con dd.cur a em.nav-ico12,.col-con dd:hover a em.nav-ico12{background-position:-28px -285px}
.col-con dd a em.nav-ico11{background-position:0 -310px}
.col-con dd.cur a em.nav-ico11,.col-con dd:hover a em.nav-ico11{background-position:-28px -310px}
.col-con dd a em.nav-ico10{background-position:0 -343px}
.col-con dd.cur a em.nav-ico10,.col-con dd:hover a em.nav-ico10{background-position:-28px -343px}
.col-con dd a em.nav-ico0{background-position:0 0}
.col-con dd a em.nav-ico1{background-position:0 -21px}
.col-con dd a em.nav-ico2{background-position:0 -47px}
.col-con dd a em.nav-ico3{background-position:0 -69px}
.col-con dd a em.nav-ico4{background-position:0 -96px}
.col-con dd a em.nav-ico5{background-position:0 -123px}
.col-con dd a em.nav-ico6{background-position:0 -150px}
.col-con dd a em.nav-ico7{background-position:0 -207px}
.col-con dd a em.nav-ico8{background-position:0 -233px}
.col-con dd a em.nav-ico9{background-position:0 -259px}
.col-con dd.cur,.col-con dd:hover{background-color:#EEE}
.col-con dd.cur a,.col-con dd:hover a{color:#F26214}
.col-con dd.cur a em.nav-ico0,.col-con dd:hover a em.nav-ico0{background-position:-28px 0}
.col-con dd.cur a em.nav-ico1,.col-con dd:hover a em.nav-ico1{background-position:-28px -21px}
.col-con dd.cur a em.nav-ico2,.col-con dd:hover a em.nav-ico2{background-position:-28px -47px}
.col-con dd.cur a em.nav-ico3,.col-con dd:hover a em.nav-ico3{background-position:-28px -69px}
.col-con dd.cur a em.nav-ico4,.col-con dd:hover a em.nav-ico4{background-position:-28px -96px}
.col-con dd.cur a em.nav-ico5,.col-con dd:hover a em.nav-ico5{background-position:-28px -123px}
.col-con dd.cur a em.nav-ico6,.col-con dd:hover a em.nav-ico6{background-position:-28px -150px}
.col-con dd.cur a em.nav-ico7,.col-con dd:hover a em.nav-ico7{background-position:-28px -207px}
.col-con dd.cur a em.nav-ico8,.col-con dd:hover a em.nav-ico8{background-position:-28px -233px}
.col-con dd.cur a em.nav-ico9,.col-con dd:hover a em.nav-ico9{background-position:-28px -259px}
.badge{position:absolute;right:10px;top:5px;background-color:#F26214}
.g-ft{height:320px;background-color:#F8F8F8;margin-top:50px;padding-top:30px;color:#666;border-top:1px solid #DDD}
.m-fttop{overflow:hidden;border-bottom:1px solid #DDD;padding-bottom:30px}
.m-fttop .footer-left .friend-link{overflow:hidden}
.m-fttop .footer-left .friend-link li{float:left;margin:0 15px}
.m-fttop .footer-left .friend-link li a{color:#666;font-size:14px}
.m-fttop .footer-left .friend-link li a:hover{color:#e86527}
.m-fttop .footer-left .app-ico-box{padding-left:15px;margin-top:50px}
.m-fttop .footer-left .app-ico-box .left-title{margin-left:40px}
.m-fttop .footer-left .app-ico-box .app-ico{height:65px;line-height:65px;display:inline-block}
.m-fttop .footer-left .app-ico-box .app-ico span{vertical-align:top;margin-right:10px;font-size:16px;font-family:\5fae\8f6f\96c5\9ed1}
.m-fttop .footer-left .app-ico-box .app-ico em.ft-ico{width:60px;height:60px;display:inline-block;background:url(../img/footer_sprite.png?v=7ezEjUCLfSDuvjzx6gisAg%3D%3D) no-repeat;margin-right:20px}
.m-fttop .footer-left .app-ico-box .app-ico em.ft-ico.weibo{background-position:0 0}
.m-fttop .footer-left .app-ico-box .app-ico em.ft-ico.weibo:hover{background-position:0 -63px}
.m-fttop .footer-left .app-ico-box .app-ico em.ft-ico.weixin{background-position:-63px 0}
.m-fttop .footer-left .app-ico-box .app-ico em.ft-ico.weixin:hover{background-position:-63px -63px}
.m-fttop .footer-left .app-ico-box .app-ico em.ft-ico.ios{background-position:-126px 0}
.m-fttop .footer-left .app-ico-box .app-ico em.ft-ico.ios:hover{background-position:-126px -63px}
.m-fttop .footer-left .app-ico-box .app-ico em.ft-ico.android{background-position:-189px 0}
.m-fttop .footer-left .app-ico-box .app-ico em.ft-ico.android:hover{background-position:-189px -63px}
.m-fttop .footer-right{width:290px;float:right;font-size:14px}
.m-fttop .footer-right .tel-box{margin:15px 0;font-size:36px;display:inline-block}
.m-fttop .footer-right a{color:#666;margin-left:5px}
.m-fttop .footer-right a:hover{color:#e86527}
.m-ftbottom{border-top:1px solid #FFF;padding-top:30px}
.m-ftbottom p{color:#868686;font-size:12px;margin-top:20px}
.m-ftbottom img{height:33px;margin:0 10px}
.page-box{margin-top:10px}
.page-box .page{display:inline-block;font-size:16px}
.page-box .page a,.page-box .page span{display:inline-block;padding:5px 12px;margin:0 5px;font-family:\5fae\8f6f\96c5\9ed1;color:#666}
.m-nodata,.table{margin-bottom:20px;font-family:\5fae\8f6f\96c5\9ed1}
.page-box .page a{background-color:#F3F3F3}
.page-box .page .current,.page-box .page a:hover{background-color:#E86527;color:#FFF}
.table-tip{font-family:\5fae\8f6f\96c5\9ed1;background-color:#F3F3F3;height:43px;line-height:43px;border:1px solid #E0E0E0;border-bottom:none;padding:0 14px}
.table-tip .tip-l{float:left;color:#282828;font-size:16px}
.table-tip .right-link,.table-tip .table-more{position:relative;float:right}
.table-tip .right-link{color:#777;font-size:12px}
.table-tip .right-link:hover{color:#e86527}
.table-tip .right-link .arrow{display:inline-block;width:0;height:0;font-size:0;line-height:0;border-width:4px;border-style:solid dashed dashed;border-color:#767676 transparent transparent;margin-left:4px;transition:transform .2s}
.table-tip .table-more:hover .arrow{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg);display:inline-block}
.table-tip .table-more:hover .table-other{display:block}
.table-tip .table-other{text-align:center;background-color:#fff;position:absolute;top:30px;right:0;width:100px;border:1px solid #E7E7E7;padding:10px 0;line-height:35px;display:none}
.table-tip .table-other li a{display:block;color:#777}
.table-tip .table-other li a:hover{background-color:#F8F8F8;color:#E86527}
.table-nav{background-color:#F3F3F3;border:1px solid #E0E0E0;border-bottom:none;padding:0 15px;font-family:\5fae\8f6f\96c5\9ed1;overflow:hidden}
.table-nav ul{overflow:hidden;width:100%;float:left}
.table-nav ul li{float:left;margin-right:42px}
.table-nav ul li.cur{border-bottom:3px solid #E86527}
.table-nav ul li a{font-size:16px;color:#666;padding-bottom:5px;padding-top:10px;display:block}
.table-nav ul li a:hover{color:#e86527}
.table-nav .more-link{float:right;color:#666;margin-top:14px}
.table-nav .more-link:hover{color:#e86527}
.shop-state{background:url(../img/sheep_avatar.png?v=7Ma3GMBMZTYMBKoUtzeiFA%3D%3D) no-repeat}
.table{width:100%;border:1px solid #E0E0E0;font-size:14px;color:#777}
.table thead{background-color:#fff;height:43px;line-height:43px}
.table tbody tr{height:43px}
.table tbody tr:nth-child(odd){background-color:#F8F8F8}
.table tbody tr:nth-child(even){background-color:#FEFEFE}
.table tbody tr:hover{background-color:#FCF2EC}
.table tbody tr td.org{color:#E97B1E}
.table tbody tr td.green{color:#51A20E}
.table tbody tr td.throughline{text-decoration:line-through}
.table tbody tr td a{color:#3D80C9}
.table tbody tr td a:hover{text-decoration:underline}
.table tbody tr td .camera-icon i{color:#47A8EF;font-size:23px}
.table tbody tr td .camera-icon:hover{text-decoration:none}
.table tbody tr td .shop-state{width:34px;height:34px;display:inline-block;vertical-align:middle}
.table tbody tr td .cool{background-position:0 0}
.table tbody tr td .love{background-position:0 -36px}
.table tbody tr td .smile{background-position:0 -74px}
.table tbody tr td .cry{background-position:0 -115px}
.table tfoot tr{background-color:#F8F8F8;border-top:1px solid #E8E8E8}
.table tfoot tr a{color:#767676;display:block;height:45px;line-height:45px}
.table tfoot tr a:hover{color:#e86527}
.table td.tleft{text-align:left;padding-left:15px}
.table td.tright{text-align:right;padding-right:15px}
.m-nodata{border:1px solid #E0E0E0;text-align:center;padding:70px 0}
.m-nodata .nodata-ico{background:url(../img/sheepherd_sprite.png?v=6cxyCPKVHIpKDwGZJmPYxg%3D%3D) no-repeat;width:141px;height:114px;display:inline-block;vertical-align:top}
.m-nodata .nodata-tip-box{height:200px;display:inline-block;text-align:left;margin-left:20px}
.m-nodata .nodata-tip-box span{display:block;margin-bottom:10px}
.m-nodata .nodata-tip-box span.nodata-tipmes{color:#666;font-size:16px}
.m-nodata .nodata-tip-box span.nodata-con{color:#f26214;font-size:24px}
.m-nodata .nodata-tip-box span a.nodata-btn{font-size:16px;background-color:#E86527;padding:10px 40px;display:inline-block;color:#fff;border-radius:4px}
.container{padding-top:20px}
.nav-tab{font-size:16px;font-family:\5fae\8f6f\96c5\9ed1;color:#666}
.container-box{width:100%;margin-bottom:100px;margin-top:15px}
.container-box .col-nav{float:left;width:100%;background:#FFF;min-height:500px}
.container-box .main-box{margin-left:210px}
.g-titleline{border-bottom:1px solid #DBDBDB;font-family:\5fae\8f6f\96c5\9ed1}
.g-titleline strong{border-bottom:2px solid #E86527;color:#f26214;font-size:18px;padding-bottom:7px;display:inline-block;font-weight:400;margin-bottom:-1px;padding-right:5px}
.g-titleline a{float:right;font-size:14px;color:#999;margin-top:5px;font-family:\5B8B\4F53}
.bank-list,.bank-list .bankcard-from p .btn,.bc-detail-mes-box,.circle,.coupon-hd .coupon-price,.income-box .income-title,.m-income,.m-income .income-right .yline,.m-procommission,.my-msg,.personal-info,.set-table{font-family:\5fae\8f6f\96c5\9ed1}
.g-titleline a:hover{color:#e86527}
.circle,.circle em{background:url(../img/circle_sprite.png?v=%2BDgbDTm3yMezgPOS%2FzzdnA%3D%3D) no-repeat}
.circle{width:90px;height:90px;text-align:center}
.circle.ro0{background-position:0 0}
.circle.ro10{background-position:-90px 0}
.circle.ro20{background-position:-180px 0}
.circle.ro30{background-position:-270px 0}
.circle.ro40{background-position:-360px 0}
.circle.ro50{background-position:-450px 0}
.circle.ro60{background-position:-540px 0}
.circle.ro70{background-position:-630px 0}
.circle.ro80{background-position:-720px 0}
.circle.ro90{background-position:-810px 0}
.circle.ro100{background-position:-900px 0}
.circle.ro110{background-position:-990px 0}
.circle.ro120{background-position:0 -90px}
.circle.ro130{background-position:-90px -90px}
.circle.ro140{background-position:-180px -90px}
.circle.ro150{background-position:-270px -90px}
.circle.ro160{background-position:-360px -90px}
.circle.ro170{background-position:-450px -90px}
.circle.ro180{background-position:-540px -90px}
.circle.ro190{background-position:-630px -90px}
.circle.ro200{background-position:-720px -90px}
.circle.ro210{background-position:-810px -90px}
.circle.ro220{background-position:-900px -90px}
.circle.ro230{background-position:-990px -90px}
.circle.ro240{background-position:0 -180px}
.circle.ro250{background-position:-90px -180px}
.circle.ro260{background-position:-180px -180px}
.circle.ro270{background-position:-270px -180px}
.circle.ro280{background-position:-360px -180px}
.circle.ro290{background-position:-450px -180px}
.circle.ro300{background-position:-540px -180px}
.circle.ro310{background-position:-630px -180px}
.circle.ro320{background-position:-720px -180px}
.circle.ro330{background-position:-810px -180px}
.circle.ro340{background-position:-900px -180px}
.circle.ro350{background-position:-990px -180px}
.circle.ro360{background-position:-1px -270px}
.circle em{display:inline-block;margin-bottom:2px}
.circle em.incomeing-ico{width:36px;height:28px;margin-top:20px;background-position:-118px -301px}
.circle em.ending-ico{width:32px;height:23px;margin-top:10px;background-position:-214px -307px}
.circle .circle-text{display:inline-block;text-align:center;color:#999;font-size:12px;border-top:1px solid #D5D5D5}
.circle .incomeing{padding:2px 10px 0}
.circle .ending{padding:2px;line-height:15px}
.circle .percentage{font-size:26px;color:#f26214;margin-top:12px;display:inline-block;line-height:36px}
.my-msg{border:1px solid #E0E0E0}
.my-msg-hd{height:50px;line-height:50px;overflow:hidden;background-color:#F5F5F5}
.my-msg-hd a{float:left;font-size:16px;color:#282828;padding:0 40px}
.my-msg-hd .cur,.my-msg-hd a:hover{color:#fff;background-color:#F26214}
.my-msg-bd{overflow:hidden}
.my-msg-bd .msg-list{display:none}
.my-msg-bd .msg-list a{display:block;border-left:3px solid #fff;border-top:1px dotted #ECECEC;margin-top:-1px;padding:15px 0 15px 25px;overflow:hidden}
.my-msg-bd .msg-list a:hover{border-left-color:#F26214;background-color:#FFF4EE;cursor:pointer}
.my-msg-bd .msg-list a .msg-detail{float:left;font-size:14px;line-height:24px;overflow:hidden;color:#666;width:840px;padding-right:10px;border-right:1px solid #E0E0E0}
.my-msg-bd .msg-list a .msg-date{float:left;width:108px;height:48px;line-height:48px;text-align:center;display:block;color:#aaa}
.personal-info{border:1px solid #E0E0E0;margin-bottom:20px;overflow:hidden}
.personal-info-hd{float:left;width:278px;border-right:1px solid #E0E0E0;padding:20px}
.personal-info-hd .personal-img{float:left;width:110px;height:110px;overflow:hidden;display:block}
.personal-info-hd .detail-info{color:#666;float:left;line-height:28px;padding-left:15px;font-size:14px}
.personal-info-hd .detail-info .iconfont{color:#6db7ff;padding-right:5px;font-size:18px}
.personal-info-hd .detail-info p{overflow:hidden;width:152px;white-space:nowrap;text-overflow:ellipsis}
.personal-info-bd{overflow:hidden;padding:20px 0 0 20px}
.personal-info-bd .income{float:left;width:480px;border-right:1px solid #E0E0E0}
.personal-info-bd .income .income-tit{overflow:hidden}
.personal-info-bd .income .income-more{float:right;color:#777;padding-right:20px}
.personal-info-bd .income .income-detail{overflow:hidden;padding-top:35px}
.personal-info-bd .income .income-detail li{width:33.33%;float:left;text-align:center;margin-left:-1px;border-left:1px solid #E7E7E7}
.personal-info-bd .income .income-detail li .income-num{color:#f26214;font-size:24px}
.personal-info-bd .income .income-detail li .income-num span{font-size:18px}
.personal-info-bd .income .income-detail p{color:#7e7e7e}
.personal-info-bd .user-op{float:left;text-align:center;padding-top:20px;width:168px}
.personal-info-bd .user-op a{display:inline-block;margin:0 auto 20px;text-align:center;color:#666;padding:8px 23px;border:1px solid #e0e0e0;border-radius:3px;background-color:#F3F3F3}
.income-map,.m-income{border:1px solid #E0E0E0}
.personal-info-bd .user-op a:hover{color:#666;background-color:#EBEBEB}
.income-box{padding:20px}
.income-box .income-title{font-size:14px;color:#333}
.m-income{overflow:hidden}
.m-income .income-left{width:50%;float:left;border-right:1px solid #E0E0E0;margin-left:-1px;height:210px}
.m-income .income-left .iline{overflow:hidden;margin-top:13px;font-size:14px;color:#333}
.m-income .income-left .iline a{float:right;font-size:12px;color:#666}
.m-income .income-left .iline a:hover{color:#e86527}
.m-income .income-left .iline span em{color:#f26214;font-size:18px;margin-right:5px}
.m-income .income-right{width:50%;float:left;overflow:hidden}
.m-income .income-right .yline{margin-top:10px;font-size:14px;color:#666;overflow:hidden}
.m-income .income-right .yline span{width:50%;display:block;float:left}
.m-income .income-right .yline span i{font-style:normal}
.m-income .income-right .sheep-box{border-top:1px dotted #D7D5D5;padding-top:15px;margin-top:15px;font-size:14px;color:#666}
.m-income .income-right .sheep-box .income-btn-box{font-size:14px;color:#666;margin-top:10px}
.m-income .income-right .sheep-box .income-btn-box span{color:#444;font-size:18px;margin-right:4px}
.m-income .income-right .sheep-box .income-btn-box a{color:#666;font-size:14px;border:1px solid #AFAFAF;border-radius:3px;background-color:#F1F1F1;padding:5px 15px;margin-left:20px}
.m-income .income-right .sheep-box .income-btn-box a:hover{background-color:#EBEBEB}
.m-income .income-money{color:#666;font-size:20px;text-align:center;margin-top:20px}
.m-income .income-money span{color:#f26214;font-size:34px;margin-right:5px}
.income-map{border-top:none;margin-bottom:20px}
.recodetail{border:1px solid #E0E0E0;padding:100px 200px 100px 150px}
.recodetail h2{font-size:20px;color:#333;margin-bottom:20px;margin-left:20px;font-weight:800}
.recodetail p{font-size:14px;color:#555;margin-bottom:15px}
.bc-detail-con{border:1px solid #DEDEDE;padding:25px;font-family:\5fae\8f6f\96c5\9ed1;overflow:hidden}
.bc-detail-con .bc-detail-de{float:left;width:85%}
.bc-detail-con .bc-detail-de .bc-detail-title{border-bottom:1px dotted #B9B9B9;overflow:hidden;color:#333;font-size:14px;padding-bottom:10px;margin-bottom:20px}
.bc-detail-con .bc-detail-de .bc-detail-title a{color:#74ade8;margin-left:10px;font-size:12px}
.bc-detail-con .bc-detail-de .bc-detail-title a:hover{color:#e86527}
.bc-detail-con .bc-detail-de .tb-detail span{display:inline-block;width:13%;font-size:14px;color:#333;line-height:24px}
.bc-detail-con .bc-detail-de .tb-detail span.org{color:#e85505}
.bc-detail-con .bc-detail-de .tb-detail span i{font-size:12px;color:#666;font-style:normal}
.bc-detail-con .bc-detail-de .tb-detail span.time{font-size:12px;width:16%;color:#777}
.bc-detail-con .bc-detail-de .tb-detail span.time em{color:#555}
.bc-detail-mes-box{border:1px solid #DEDEDE;border-top:none;border-bottom:none;padding:25px}
.bc-detail-mes-box .bc-detail-mes{overflow:hidden}
.bc-detail-mes-box .bc-detail-mes .bc-detail-left{float:left;width:50%;border-right:1px solid #D8D8D8;margin-left:-1px;line-height:37px;font-size:14px;color:#666}
.bc-detail-mes-box .bc-detail-mes .bc-detail-left span{margin-left:20px}
.bc-detail-mes-box .bc-detail-mes .bc-detail-left span.org{color:#e85505;font-size:16px;font-weight:700}
.bc-detail-mes-box .bc-detail-mes .bc-detail-right{float:left;width:50%;color:#888}
.bc-detail-mes-box .bc-detail-mes .bc-detail-right p{margin-bottom:10px;overflow:hidden;margin-left:20px}
.bc-detail-mes-box .bc-detail-mes .bc-detail-right p span{display:block;width:49.9%;float:left}
.m-procommission{border:1px solid #E0E0E0;padding:20px}
.m-procommission .m-promes{overflow:hidden;border-bottom:1px solid #DEDEDE;padding-bottom:20px}
.m-procommission .m-promes span{color:#666;font-size:14px;display:inline-block;margin-top:5px;width:80%}
.m-procommission .m-promes span .org{color:#f26214;margin:0 5px;font-style:normal}
.m-procommission .m-promes a{float:right;font-size:16px;background-color:#E86527;padding:10px 30px;color:#FFF;border-radius:4px}
.m-procommission .m-getqer{border-bottom:1px solid #DEDEDE;overflow:hidden;padding:25px 0}
.m-procommission .m-getqer .link{width:50%;float:left;color:#555}
.m-procommission .m-getqer .link a{border:1px dashed #DEDEDE;display:inline-block;padding:5px 10px;font-size:14px;color:#153EDE;margin-top:10px;word-break:break-all}
.m-procommission .m-getqer .qr{float:right;width:40%}
.m-procommission .m-getqer .qr img{width:150px;height:150px;margin-top:5px}
.m-procommission .m-friends{overflow:hidden;margin-top:20px}
.m-procommission .m-friends li{float:left;width:70px;height:70px;text-align:center;margin-right:20px;margin-bottom:20px}
.m-procommission .m-friends li img{width:50px;height:50px;border-radius:50%;background-color:#D6D6D6}
.m-procommission .m-friends li .name{font-size:12px;color:#666;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:4px}
.bank-list{border:1px solid #E0E0E0;padding:0 20px;font-size:14px}
.bank-list .bank-line{overflow:hidden;border-bottom:1px solid #E7E7E7;height:60px;line-height:60px}
.bank-list .bank-line strong{width:30%;display:inline-block;color:#333}
.bank-list .bank-line span{width:30%;display:inline-block;color:#666}
.bank-list .bank-line a{float:right;color:#3996e5}
.accountsettings .set-detail,.set-table tbody tr .set-text{float:left}
.bank-list .bank-line a:hover{color:#e86527}
.bank-list .bankcard-from{margin:50px 0 100px}
.bank-list .bankcard-from h3{margin-bottom:20px;font-size:16px;color:#444;margin-left:100px;font-weight:400}
.bank-list .bankcard-from p{margin-bottom:15px;line-height: 37px;height: 37px;}
.bank-list .bankcard-from p label{width:20%;text-align:right;display:inline-block;font-size:14px;color:#333;line-height: 37px;}
.bank-list .bankcard-from p input{color:#333}
.bank-list .bankcard-from p .error-tip{color:#E80000;margin-left:10px}
.bank-list .bankcard-from p .btn{width:252px;background-color:#E86527;font-size:16px;color:#FFF;border:none;height:35px;cursor:pointer}
.bank-list .bankcard-from p .btn.dis-btn{background-color:silver;cursor:no-drop}
.accountsettings .set-text{width:225px;text-align:center}
.accountsettings .set-detail .user-head{overflow:hidden;display:inline-block}
.accountsettings .set-detail .user-head img{display:block;width:50px;height:50px;border-radius:50%;margin-top:7px}
.accountsettings .set-op a{color:#3996E5}
.accountsettings .set-op .already-verify{color:#999}
.accountsettings .pwd-set{height:auto;border-top:none}
.accountsettings .pwd-set .pwd-update{width:660px;margin:0 auto;display:block;border-top:1px solid #E7E7E7;padding-left:180px;padding-bottom:30px}
.accountsettings .pwd-set .pwd-update p{height:38px;line-height:38px;margin-top:15px}
.accountsettings .pwd-set .pwd-update span{width:100px;display:inline-block;text-align:right}
.accountsettings .pwd-set .pwd-update input{border:1px solid #E7E7E7;padding:10px 3px;width:230px}
.coupon-wrap,.set-table{border:1px solid #E0E0E0}
.accountsettings .pwd-set .pwd-update .save-pwd .save-pwd-btn{display:inline-block;background-color:#F26214;width:240px;text-align:center;color:#fff;font-size:14px;margin-left:69px;margin-top:5px}
.accountsettings .pwd-set .pwd-update .verification-code input[type=text]{width:115px}
.accountsettings .pwd-set .pwd-update .verification-code .get-code{color:#fff;background-color:#66B035;padding:10px 0;margin-left:5px;width:106px;font-size:12px}
.accountsettings .pwd-set .pwd-update .verification-code .disbtn{background-color:#CCC}
.set-table{width:100%}
.set-table tbody{font-size:14px;color:#333;text-align:left;overflow:hidden}
.set-table tbody tr{margin:-1px 20px 0;display:block;height:66px;line-height:66px;border-top:1px solid #E0E0E0;overflow:hidden}
.set-table tbody tr .set-op{float:right;font-size:12px;color:#999}
.set-table tbody tr .set-op label{cursor:pointer}
.set-table tbody tr .set-op input{margin-left:30px;margin-right:3px}
.set-table tbody tr .set-op input:checked+label.open-sel{color:#3996E5}
.set-table tbody tr .set-op input:checked+label.close-sel{color:#333;}
.coupon-wrap{padding:50px;overflow:hidden;text-align:center}
.coupon-wrap ul{width:960px;overflow:hidden;text-align:center}
.coupon-wrap .coupon{position:relative;float:left;margin-right:68px;width:370px;padding:10px 20px;color:#fff;display:inline;margin-bottom:20px;overflow:hidden}
.coupon-wrap .coupon .coupon-inner{padding:15px 10px 0}
.coupon-wrap .coupon-decorate{position:absolute;top:0;display:block;width:20px;height:148px;background:url(../img/coupon_icon.png?v=sp16JfK5E%2FTk6YOyLxSMag%3D%3D) no-repeat}
.coupon-wrap .coupon-decorate-left{left:0}
.coupon-wrap .coupon-decorate-right{right:0}
.coupon-wrap .coupon-300 .coupon-decorate-left{background-position:0 -3px}
.coupon-wrap .coupon-300 .coupon-decorate-right{background-position:-25px -3px}
/*.coupon-wrap .coupon-20 .coupon-decorate-left{background-position:-59px -3px}
.coupon-wrap .coupon-20 .coupon-decorate-right{background-position:-84px -3px}*/
.coupon-wrap .coupon-20{background-color:#e0e0e0}
.coupon-wrap .coupon-20 .coupon-decorate-left{background-position:-118px -3px}
.coupon-wrap .coupon-20 .coupon-decorate-right{background-position:-144px -3px}
.coupon-wrap .coupon-20 .coupon-inner{border:1px solid #FAE181}
.coupon-wrap .coupon-20 .coupon-inner .coupon-hd{border-bottom-color:#F8DC7B}
.coupon-wrap .coupon-20 .coupon-inner .coupon-hd .coupon-info{border-left-color:#FBE687}
.due-icon{position:absolute;bottom:-30px;right:-70px;width:200px;height:140px;background:url(/assets/wxapp-img/due.png) no-repeat;background-size:100px 70px;display:inline-block;}
.due-icon1{position:absolute;bottom:-30px;right:-70px;width:200px;height:140px;background:url(/assets/wxapp-img/due1.png) no-repeat;background-size:100px 70px;display:inline-block;}
.coupon-wrap .coupon-disable .coupon-decorate-left{background-position:-118px -3px}
.coupon-wrap .coupon-disable .coupon-decorate-right{background-position:-144px -3px}
.coupon-wrap .coupon-300{background-color:#FF93A8}
.coupon-wrap .coupon-300 .coupon-inner{border:1px solid #FFC6A3}
.coupon-wrap .coupon-300 .coupon-inner .coupon-hd{border-bottom-color:#F8DC7B}
.coupon-wrap .coupon-300 .coupon-inner .coupon-hd .coupon-info{text-align:left}
.coupon-info{
    height: 54px;
    overflow: hidden;
}
/*.coupon-wrap .coupon-20{background-color:#F4C963}
.coupon-wrap .coupon-20 .coupon-inner{border:1px solid #FAE181}
.coupon-wrap .coupon-20 .coupon-inner .coupon-hd{border-bottom-color:#F8DC7B}
.coupon-wrap .coupon-20 .coupon-inner .coupon-hd .coupon-info{border-left-color:#FBE687}*/
.coupon-wrap .coupon-disable{background-color:#E0E0E0;color:#3d3a3a}
.coupon-wrap .coupon-disable .coupon-inner{border:1px solid #B0A79D}
.coupon-wrap .coupon-disable .coupon-inner .coupon-hd{border-bottom-color:#BAB2AA}
.coupon-wrap .coupon-disable .coupon-inner .coupon-hd .coupon-info{border-left-color:#BAB2AA}
.coupon-wrap .coupon-disable .coupon-disable-icon{position:absolute;bottom:20px;right:80px;width:118px;height:86px;display:block;background:url(../img/coupon_icon.png?v=sp16JfK5E%2FTk6YOyLxSMag%3D%3D) -170px -23px no-repeat}
.coupon-hd{overflow:hidden;padding-bottom:8px;border-bottom:1px dotted}
.coupon-hd .coupon-price{float:left;width:100%;text-align:center}
.coupon-hd .coupon-price em{font-weight:700;font-size:35px;padding-right:3px}
.coupon-hd .coupon-price .cu1{float:right;font-size:14px}
.coupon-hd .coupon-price .cu{width:120px;float:left}
.coupon-hd .coupon-price i{font-size:18px;font-style:normal}
.coupon-hd .coupon-info{float:left;padding-left:20px}
.coupon-bd{height:30px;line-height:30px;overflow:hidden;text-align:left;padding-left:20px}
.coupon-bd .coupon-id{float:right}
.draw-info-tit .draw-info-tit-decorate,.participate-time h3 .clock,.sheep-show-bd .price-icon,.winning-numbers-hd .winning-numbers-icon{background:url(../img/unitarybuy_spire.png?v=i9FuFJYP0%2Bmgn4ZQMxnrxw%3D%3D) no-repeat;display:inline-block;vertical-align:middle}
.unitary-buy-ad{width:1600px;height:503px;background:url(../img/unitarybuy-ad-bg.png?v=P4Kb%2BIKN%2B%2BZkLwYdGCSy9w%3D%3D) center center no-repeat #f6dc35}
.unitary-buy{background-color:#F6DC35;padding-bottom:45px;font-family:'\5fae\8f6f\96c5\9ed1'}
.unitary-buy-inner{background-color:#fff;border-radius:10px;width:1175px;padding-left:25px;overflow:hidden}
.unitary-buy-l{float:left;padding:25px 60px 25px 0;width:792px}
.buy-sheep{overflow:hidden}
.buy-sheep .sheep-show{float:left;width:360px}
.buy-sheep .sheep-show .sheep-img{background-color:#f5f5f5;width:360px;height:360px;display:block;overflow:hidden}
.buy-sheep .sheep-show .sheep-show-bd{margin-top:15px}
.buy-sheep .sheep-show .sheep-show-bd span{color:#e8530e;font-size:20px;padding:8px 12px;float:left;border:1px solid #FFBD8B;background-color:#FFEEE1;margin-right:6px;margin-bottom:12px;display:inline;border-radius:8px}
.buy-sheep .sheep-show .sheep-show-bd .price .price-icon{width:28px;height:30px;background-position:0 -76px;margin-top:-6px}
.buy-sheep .sheep-info{float:left;padding-left:30px;line-height:36px}
.buy-sheep .sheep-info .sheep-tit{font-size:28px;color:#666;font-weight:400}
.buy-sheep .sheep-info .sheep-tit .sheep-tit-icon{background-color:#F7E34F;font-size:16px;float:left;margin-right:7px;color:#f86010;padding:0 8px;border-radius:3px;-webkit-box-shadow:0 3px 0 #E2C62F;-moz-box-shadow:0 3px 0 #E2C62F;-ms-box-shadow:0 3px 0 #E2C62F;-o-box-shadow:0 3px 0 #E2C62F;box-shadow:0 3px 0 #E2C62F}
.buy-sheep .sheep-info .sheep-info-bd{margin:20px 0;font-size:18px;color:#7d3500;padding:20px 0;border-top:1px dashed #c8c8c8;border-bottom:1px dashed #c8c8c8}
.buy-sheep .sheep-info .sheep-info-bd .act-progress-bar{border:1px solid #D1D1D1;border-radius:16px;background-color:#EDEBEB;height:18px;line-height:18px;width:400px;display:block;margin:15px 0}
.buy-sheep .sheep-info .sheep-info-bd .act-progress-bar .act-progress-bar-state{display:inline-block;height:20px;background-color:#FB9430;border-radius:16px;margin-top:-1px}
.buy-sheep .sheep-info .sheep-info-bd .act-state{overflow:hidden}
.buy-sheep .sheep-info .sheep-info-bd .act-state .participation{float:left}
.buy-sheep .sheep-info .sheep-info-bd .act-state .remain{float:right}
.buy-sheep .sheep-info .sheep-info-ft{font-size:15px;font-weight:700;color:#8A8A8A}
.buy-sheep .sheep-info .sheep-info-ft .clause{color:#7d3500}
.buy-sheep .sheep-info .sheep-info-ft .clause input{vertical-align:baseline;margin-right:8px}
.buy-sheep .sheep-info .sheep-info-ft .clause a{color:#0E72C7}
.buy-sheep .sheep-info .sheep-info-ft .participation-sel{padding:10px 0}
.buy-sheep .sheep-info .sheep-info-ft .participation-sel span{color:#e8530e}
.buy-sheep .sheep-info .sheep-info-ft .participation-sel .choose-amount{display:inline-block;border:1px solid #EDEDED;overflow:hidden;height:46px;margin-bottom:-18px}
.buy-sheep .sheep-info .sheep-info-ft .participation-sel .choose-amount input{display:inline-block;width:36px;padding:0 5px;line-height:48px;height:48px;color:#666;text-align:center;border:0;margin-top:-26px;vertical-align:middle;outline:0}
.buy-sheep .sheep-info .sheep-info-ft .participation-sel .choose-amount .amount-decorate{display:inline-block}
.buy-sheep .sheep-info .sheep-info-ft .participation-sel .choose-amount .amount-decorate a{display:block;background-color:#f1f1f1;width:24px;line-height:23px;text-align:center;border-left:1px solid #E8E8E8;border-bottom:1px solid #E5E5E5;color:#666}
.buy-sheep .sheep-info .sheep-info-ft .buy-btn{margin-top:15px;font-size:24px;font-weight:400;background-color:#F96F17;text-shadow:0 3px 2px #C5400C;color:#ffe60d;padding:7px 85px;border-radius:20px;display:inline-block;text-align:center;-webkit-box-shadow:0 3px 0 #D45E14;-moz-box-shadow:0 3px 0 #D45E14;-ms-box-shadow:0 3px 0 #D45E14;-o-box-shadow:0 3px 0 #D45E14;box-shadow:0 3px 0 #D45E14}
.buy-sheep .sheep-info .sheep-info-ft .buy-btn:hover{background-color:#FF7C27}
.user-look{margin-top:50px}
.user-look .user-look-hd{overflow:hidden}
.user-look .user-look-hd a{float:left;background-color:#BFBFBF;color:#fff;margin-right:5px;padding:10px 60px;font-size:18px}
.user-look .user-look-hd .cur{background-color:#E8530E}
.user-look .user-look-bd{width:658px}
.user-look .user-look-bd .look-cont{margin-top:35px;display:none;overflow:hidden}
.user-look .participation-record .participation-record-bd{width:500px;margin:0 auto;overflow:hidden}
.user-look .participation-record .participation-record-mod{float:left;color:#7d3500}
.user-look .participation-record .participation-record-mod h3{font-size:26px;font-weight:400;text-align:center;position:relative}
.user-look .participation-record .participation-record-mod .participation-record-mod-bd{line-height:40px;font-size:16px;padding-top:10px}
.user-look .participation-record .participate-time h3{position:relative}
.user-look .participation-record .participate-time h3 .clock{position:absolute;right:-16px;top:5px;width:36px;height:36px}
.user-look .participation-record .participate-time .participation-record-mod-bd{width:210px;border-right:3px solid #7D3500}
.user-look .participation-record .participate-time .participation-record-mod-bd p{position:relative}
.user-look .participation-record .participate-time .participation-record-mod-bd p .participation-decorate{position:absolute;display:block;right:-7px;top:16px;width:11px;height:11px;background-color:#7d3500;border-radius:50%}
.user-look .participation-record .participation-num{padding-left:27px}
.unitary-buy-r{float:left;border-left:1px solid #E5E5E5;width:320px}
.draw-info .draw-info-tit{position:relative;width:290px;margin-top:15px;padding:5px 0;background-color:#F96F17;color:#fff}
.draw-info .draw-info-tit h3{float:left;font-size:24px;padding-left:20px}
.draw-info .draw-info-tit .time{float:right;font-size:12px;padding-right:20px}
.draw-info .draw-info-tit .time span{display:block}
.draw-info .draw-info-tit .draw-info-tit-decorate{position:absolute;width:12px;height:50px;right:-10px;top:0;background-position:0 -125px}
.draw-info .winning{padding-left:25px}
.draw-info .winning .winning-numbers{padding-top:10px;padding-bottom:30px;color:#F96F17}
.draw-info .winning .winning-numbers .winning-numbers-hd{font-size:16px}
.draw-info .winning .winning-numbers .winning-numbers-txt{font-size:40px;font-weight:700;color:#f8801d}
.draw-info .winning .winning-info{overflow:hidden;font-size:15px;font-weight:700}
.draw-info .winning .winning-info .winning-avatar{float:left;width:65px;height:65px;display:block;background-color:#f5f5f5}
.draw-info .winning .winning-info .winning-info-bd{float:left;line-height:35px;padding-left:10px;color:#7d3500}
.draw-info .winning .winning-info .winning-info-bd .participate-num{color:#ea5e1e}
.draw-info .rob-sheep-num{padding-left:25px;font-size:16px;color:#7d3500;padding-top:15px;border-bottom:1px solid #E5E5E5;padding-bottom:20px}
.draw-info .rob-sheep-num .rob-sheep-num-bd{line-height:30px;padding-top:5px;overflow:hidden}
.draw-info .rob-sheep-num .rob-sheep-num-bd span{float:left;font-size:18px;margin-right:15px;display:block}
.draw-info .rob-sheep-num .rob-sheep-num-bd .get-sheep-num{color:#f8801d}
.draw-info .rob-sheep-num .rob-sheep-num-ft a{background-color:#EFEFEF;color:#9e9e9e;padding:3px 80px;font-size:14px;display:inline-block;margin-top:6px}
.draw-info .rob-sheep-num .rob-sheep-num-ft a:hover{background-color:#F96F17;color:#fff}
.draw-info .periods{padding-top:25px;padding-bottom:20px;color:#666}
.draw-info .periods .periods-bd{overflow:hidden}
.draw-info .periods .periods-bd span{float:left;font-size:14px;border:1px solid #E5E5E5;padding:8px 15px;margin:0 0 10px 10px}
.draw-info .periods .periods-bd .cur{background-color:#F96F17;color:#fff;border-color:#F96F17}
.draw-info .periods .periods-ft{overflow:hidden;text-align:center;padding-top:15px}
.draw-info .periods .periods-ft a{padding:5px 10px;border:1px solid #E5E5E5;margin:0 6px;display:inline-block;color:#666}
.draw-info .periods .periods-ft a:hover{background-color:#F96F17;color:#fff}
.sheep-family,.sheep-family .left-con p a{color:#282828}
.sheep-family{border:1px solid #E0E0E0;padding:25px;font-size:16px;font-family:\5fae\8f6f\96c5\9ed1}
.sheep-family .left-con{float:left;width:50%;border-right:1px solid #E0E0E0;margin-right:-1px}
.sheep-family .left-con p{margin-bottom:15px}
.sheep-family .left-con p span{display:inline-block;width:160px}
.sheep-family .left-con p a em .iconfont{font-size:30px;color:#639FEC;margin-right:5px}
.sheep-family .left-con .sheeplady{position:relative}
.sheep-family .left-con .sheeplady .sheeplady-img{margin-top:140px;margin-left:100px}
.sheep-family .left-con .sheeplady .dashan{position:absolute;top:170px;right:95px}
.sheep-family .left-con .sheeplady .sheep-say{position:absolute;bottom:260px;left:15px;background-color:#44AC31;border-radius:15px;padding:15px;color:#fff}
.sheep-family .left-con .sheeplady .sheep-say .sheep-says{max-height:245px;max-width:245px}
.sheep-family .left-con .sheeplady .sheep-say .sheep-arrow{position:absolute;bottom:-16px;left:154px}
.sheep-family .right-con .sheep-notice{font-size:14px;color:#282828;margin-top:15px;padding:0 10px;height: 54px;overflow: hidden;}
.sheep-family .right-con .sheep-notice li{border-bottom:1px solid #DEDEDE;padding:5px 0;line-height:30px}
.sheep-family .right-con .sheep-notice li .org{color:#f26214}
.sheep-family .right-con{float:left;width:50%;text-align:left}
.sheep-family .right-con img{display:inline-block}
.wrong4{background:#eee;max-width:640px;min-width:320px;margin:0 auto}
.content{width:100%;text-align:center}
.content1 a{float:left;cursor:pointer;width:50%;height:30px;}

.personal-info-bd .income .income-more:hover{
        color: #f26214;
}
/* 我的专属客服 */
.xingxingBox{
    height:20px;
    padding-top: 3px;
    display: inline-block;
}
.xingxingBox li{
    width:20px;
    height:20px;
    margin:0 1px;
    float: left;
    background:url(/assets/web/img/wuxing.png)no-repeat 0 0;
    cursor:pointer;
}
.xingxingBox li.cur{
    background:url(/assets/web/img/wuxing1.png)no-repeat 0 0;
}
.pjnr{
    width: 300px;
    height: 88px;
    padding: 6px;
    resize: none;
}
.set-table tbody .textBox,
.set-table tbody .pjnr-btn-box{
    height: auto;
    border-top: none;
}
.pjnr-btn{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    background: #f26214;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-left: 220px;
}
.bank-list span.bank-logo{background-image:url(../img/yinhangtubiao.png);background-repeat:no-repeat;display:inline-block;width:200px;height:30px;overflow:hidden;text-indent:-9999px;margin-bottom:-10px;}
.bank-list span.bank-logo1{display:inline-block;width:182px;height:30px;padding-left:18px;margin-top: -10px;font-weight:bold}
.khhdz{margin-left:50px}
.chongzhi .xzyhk{width:100%;height:100%;display:inline-block;position:absolute;opacity:0;margin-left:-30px}
.bank-bjrcb{background-position:0 0}
.bank-bob{background-position:0 -28px}
.bank-cbhb{background-position:0 -56px}
.bank-bocd{background-position:0 -84px}
.bank-fudian{background-position:0 -112px}
.bank-icbc{background-position:0 -140px}
.bank-ceb{background-position:0 -168px}
.bank-cgb,.bank-gdb{background-position:0 -196px}
.bank-hkb{background-position:0 -224px}
.bank-hzb{background-position:0 -252px}
.bank-hengfeng{background-position:0 -280px}
.bank-hxb{background-position:0 -308px}
.bank-ccb{background-position:0 -336px}
.bank-jsb{background-position:0 -364px}
.bank-bcm,.bank-bcom{background-position:0 -392px}
.bank-jinghua{background-position:0 -420px}
.bank-cmbc{background-position:0 -448px}
.bank-njcb{background-position:0 -476px}
.bank-nbcb{background-position:0 -504px}
.bank-abc{background-position:0 -532px}
.bank-pab{background-position:0 -560px}
.bank-spdb{background-position:0 -588px}
.bank-qdccb{background-position:0 -616px}
.bank-srcb{background-position:0 -644px}
.bank-bos,.bank-shb{background-position:0 -672px}
.bank-sdb{background-position:0 -700px}
.bank-wzcb{background-position:0 -728px}
.bank-cib{background-position:0 -756px}
.bank-cmb{background-position:0 -784px}
.bank-zjtl{background-position:0 -812px}
.bank-boc{background-position:0 -840px}
.bank-post,.bank-psbc{background-position:0 -868px}
.bank-citic{background-position:0 -896px}
.bank-cqrcb{background-position:0 -924px}
.bank-cqcb{background-position:0 -952px}
.bank-gzrcc{background-position:0 -980px}
.bank-gzcb{background-position:0 -1008px}
.bank-hsb{background-position:0 -1036px}
.bank-czb{background-position:0 -1064px}
.bank-bonc{background-position:0 -1092px}
.bank-gdnyb{background-position:0 -1120px}
.bank-chab{background-position:0 -1148px}
.bank-dylscz{background-position:0 -1177px}
.bank-dzb{background-position:0 -1205px}
.bank-lwb{background-position:0 -1904px}
.bank-qsb{background-position:0 -1260px}
.bank-rzb{background-position:0 -1289px}
.bank-tab{background-position:0 -1317px}
.bank-lsb{background-position:0 -1345px}
.bank-wfccb{background-position:0 -1373px}
.bank-ordos{background-position:0 -1401px}
.bank-boxm{background-position:0 -1430px}
.bank-bolj{background-position:0 -1456px}
.bank-jzcb{background-position:0 -1484px}
.bank-jjccb{background-position:0 -1512px}
.bank-cjccb{background-position:0 -1568px}
.bank-boly{background-position:0 -1596px}
.bank-hubnx{background-position:0 -1623px}
.bank-bhrcb{background-position:0 -1708px}
.bank-hbnx{background-position:0 -1794px}
.bank-gsnx{background-position:0 -1652px}
.bank-bsb{background-position:0 -1820px}
.bank-shxnx{background-position:0 -1764px}
.bank-jsnx{background-position:0 -1681px}
.bank-whrcb{background-position:0 -1736px}
.bank-jzb{background-position:0 -1876px}
.bank-drcb{background-position:0 -1848px}
.bank-nmgnx{background-position:0 -1959px}
.bank-pzhccb{background-position:0 -1989px}
.bank-egb{background-position:0 -1932px}
.bank-dyccb{background-position:0 -2045px}
.bank-whccb{background-position:0 -2155px}
.bank-jlnx{background-position:0 -2073px}
.bank-sxnx{background-position:0 -2128px}
.bank-bojn{background-position:0 -2100px}
.bank-bozz{background-position:0 -2213px}
.bank-ytcb{background-position:0 -2184px}
.bank-bobd{background-position:0 -2016px}
.bank-scnx{background-position:0 -2324px}
.bank-hnnx{background-position:0 -2379px}
.bank-bogy{background-position:0 -2240px}
.bank-lzcb{background-position:0 -2295px}
.bank-bogl{background-position:0 -2268px}
.bank-zjtlcb{background-position:0 -2353px}
.bank-boyk{background-position:0 -2548px}
.bank-hunnx{background-position:0 -2576px}
.bank-lnnx{background-position:0 -2408px}
.bank-shbank{background-position:0 -2464px}
.bank-lycb{background-position:0 -2436px}
.bank-zjkccb{background-position:0 -2716px}
.bank-boxia{background-position:0 -2521px}
.bank-gznx{background-position:0 -2604px}
.bank-czcb{background-position:0 -2688px}
.bank-tjrcb{background-position:0 -2660px}
.bank-hbcl{background-position:0 -2632px}
.bank-gxnx{background-position:0 -2772px}
.bank-pjccb{background-position:0 -2744px}
.bank-bosj{background-position:0 -2800px}
.bank-xhdlcz{background-position:0 -2829px}
.bank-zjgrcb{background-position:0 -2856px}
.bank-jnrcb{background-position:0 -2884px}
.bank-jyrcb{background-position:0 -2912px}
.bank-ksrcb{background-position:0 -2940px}
.bank-tcrcb{background-position:0 -2968px}
.bank-wjrcb{background-position:0 -2996px}
.bank-urb{background-position:0 -3025px}
.bank-yrrcb{background-position:0 -3080px}
.bank-hanabank{background-position:0 -3053px}
.bank-xjnx{background-position:0 -3109px}


/*
订单详情*/
.recodetail .tr{
    text-align:center;
}
.recodetail .tr th,
.recodetail .tr td{
    border: 1px solid #eee;
    height: 38px;
}
.recodetail .tr .td{
}
.cart{
    width: 56px;
    height: 26px;
    background: url(../img/cart.png) 0px 2px no-repeat;
    cursor: pointer;
    padding-left: 20px;
    text-align: center;
}
.cart:hover{
    background-position: 0 -23px;
}
.cartbox{
    position: relative;
}
.cartbox i{
    display: none;
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 52%;
    background: #f46216;
    color: #fff;
    text-align: center;
    line-height: 12px;
    position: absolute;
    top: 3px;
    left: 7px;
    font-size: 12px;
    font-style: normal;
}
td.yue{
    font-size: 24px;
    color: #E86527;
    text-align: center;
}